.app_header {
  background: var(--color-black);
}

.app_header-h1 {
  font-family: var(--font-base);
  color: var(--color-white);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 115px;
  font-size: 90px;
}

.app_header-h1 span {
  color: var(--color-red);
}

/* .app_wrapper-img img {
  width: 30%;
} */