@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --font-base: 'Aboreto', serif;
  --font-alt: 'Ubuntu', sans-serif;
  
  --color-red: #e62828;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
}

::selection {
  background: var(--color-red);
  color: var(--color-white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-black);
}

::-webkit-scrollbar-thumb {
  background-color: #d13a3a;
}